@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.menu {

	// .menu__body

	&__body {
			// model block
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			padding: rem(100) rem(15) rem(50) rem(15);
			z-index: 4;

			// style
			background-color: rgba($color: gray, $alpha: 0.8);

			// animation
			transition: left 0.3s ease 0s;

			.menu-open &{
				left: 0;
				&::before{
					left: 0;
				}
			}
	}
}
*/

.page__clouds {
  position: absolute;
  width: 100%;
  height: 80%;
  gap: 10%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
  -webkit-animation: clouds-show 1s ease forwards;
          animation: clouds-show 1s ease forwards;
}

.page__cloud {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.page__cloud img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

.page__cloud:first-child {
  -webkit-animation: clouds 3s infinite ease-in-out alternate;
          animation: clouds 3s infinite ease-in-out alternate;
}

.page__cloud:last-child {
  animation: clouds 2.6s infinite ease-in-out alternate-reverse;
}

.moon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moon__box {
  width: 90vh;
  max-width: 80%;
  -webkit-transform: translate(-15%, 0);
      -ms-transform: translate(-15%, 0);
          transform: translate(-15%, 0);
}

.moon__item {
  position: relative;
  display: block;
  padding-bottom: 100%;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: moon 5s ease alternate forwards 0.5s;
          animation: moon 5s ease alternate forwards 0.5s;
}

.moon__item::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 102%;
  height: 102%;
  top: -1%;
  left: -1%;
  border-radius: 50%;
  -webkit-animation: moon-line 4s ease alternate forwards 0.5s;
          animation: moon-line 4s ease alternate forwards 0.5s;
}

@-webkit-keyframes clouds {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes clouds {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@-webkit-keyframes clouds-show {
  0% {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }

  100% {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

@keyframes clouds-show {
  0% {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }

  100% {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

@-webkit-keyframes moon {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes moon {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes moon-line {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(-30%, 0px);
            transform: translate(-30%, 0px);
  }
}

@keyframes moon-line {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(-30%, 0px);
            transform: translate(-30%, 0px);
  }
}